# Aula 9 - Intrudução ao Pandas
## Prof. Luis Lamas

Acompanhe os vídeos no canal do SMART Research Group:
https://www.youtube.com/channel/UCvV5eUanrGET9LWPB8jzWQw

Nessa aula vamos aprender a manipular dados utilizando a biblioteca Pandas

https://pandas.pydata.org/

Inicialmente vamos importar as bibliotecas relevantes

In [1]:
import pandas as pd

In [2]:
filename = 'owid-covid-data.csv'
df = pd.read_csv(filename)

In [3]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105005,ZWE,Africa,Zimbabwe,2021-07-21,91120.0,2705.0,2105.571,2809.0,62.0,68.143,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
105006,ZWE,Africa,Zimbabwe,2021-07-22,93421.0,2301.0,2078.429,2870.0,61.0,64.571,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
105007,ZWE,Africa,Zimbabwe,2021-07-23,95686.0,2265.0,2074.000,2961.0,91.0,63.000,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
105008,ZWE,Africa,Zimbabwe,2021-07-24,97277.0,1591.0,2094.857,3050.0,89.0,66.000,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
105009,ZWE,Africa,Zimbabwe,2021-07-25,97894.0,617.0,2039.286,3094.0,44.0,67.429,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN

In [4]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN

In [5]:
df.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
105005,ZWE,Africa,Zimbabwe,2021-07-21,91120.0,2705.0,2105.571,2809.0,62.0,68.143,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
105006,ZWE,Africa,Zimbabwe,2021-07-22,93421.0,2301.0,2078.429,2870.0,61.0,64.571,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
105007,ZWE,Africa,Zimbabwe,2021-07-23,95686.0,2265.0,2074.000,2961.0,91.0,63.000,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
105008,ZWE,Africa,Zimbabwe,2021-07-24,97277.0,1591.0,2094.857,3050.0,89.0,66.000,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN
105009,ZWE,Africa,Zimbabwe,2021-07-25,97894.0,617.0,2039.286,3094.0,44.0,67.429,...,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571,NaN

In [6]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'excess_mortality'],
      dtype='object')

In [7]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
count,1.008050e+05,100802.00000,99792.000000,9.050500e+04,90660.000000,99792.000000,100270.000000,100267.000000,99262.000000,89983.000000,...,63299.000000,93925.000000,96453.000000,73429.000000,72355.000000,47178.000000,85513.000000,99697.000000,94045.000000,3671.00000
mean,1.155242e+06,6104.50001,6116.638123,3.072340e+04,145.532484,131.474713,14271.063975,76.932197,77.124014,311.211774,...,13.430223,258.697836,7.949155,10.579174,32.711167,50.805496,3.026811,73.243136,0.727116,18.13587
std,7.856117e+06,37832.07330,37508.284035,1.834065e+05,796.025459,740.990236,25723.654267,200.776015,158.899192,554.297078,...,19.968825,119.106446,4.176743,10.480115,13.489018,31.757398,2.457036,7.554891,0.150314,35.59403
min,1.000000e+00,-74347.00000,-6223.000000,1.000000e+00,-1918.000000,-232.143000,0.001000,-2153.437000,-276.825000,0.001000,...,0.100000,79.370000,0.990000,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000,-95.59000
25%,1.435000e+03,2.00000,7.857000,5.800000e+01,0.000000,0.000000,280.229750,0.232000,1.354000,8.620000,...,0.600000,168.711000,5.310000,1.900000,21.600000,19.351000,1.300000,67.920000,0.602000,0.43500
50%,1.495100e+04,76.00000,94.857000,4.410000e+02,2.000000,1.429000,2018.524000,8.890000,11.735000,56.550000,...,2.200000,242.648000,7.110000,6.300000,31.400000,49.839000,2.400000,74.620000,0.744000,7.44000
75%,1.596790e+05,836.00000,882.857000,4.245000e+03,18.000000,14.714000,15179.082750,71.399000,79.619750,346.275500,...,21.200000,329.635000,10.080000,19.300000,41.100000,83.241000,3.861000,78.740000,0.848000,23.96500
max,1.941632e+08,905993.00000,826368.143000,4.159108e+06,18060.000000,14736.000000,187639.940000,18293.675000,4083.500000,5921.506000,...,77.600000,724.417000,30.530000,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000,410.12000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105010 entries, 0 to 105009
Data columns (total 60 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   iso_code                               105010 non-null  object
 1   continent                              100125 non-null  object
 2   location                               105010 non-null  object
 3   date                                   105010 non-null  object
 4   total_cases                            100805 non-null  float64
 5   new_cases                              100802 non-null  float64
 6   new_cases_smoothed                     99792 non-null   float64
 7   total_deaths                           90505 non-null   float64
 8   new_deaths                             90660 non-null   float64
 9   new_deaths_smoothed                    99792 non-null   float64
 10  total_cases_per_million                100270 non-null  float64
 11  new_cases_per_million                  100267 non-null  float64
 12  new_cases_smoothed_per_million         99262 non-null   float64
 13  total_deaths_per_million               89983 non-null   float64
 14  new_deaths_per_million                 90138 non-null   float64
 15  new_deaths_smoothed_per_million        99262 non-null   float64
 16  reproduction_rate                      84632 non-null   float64
 17  icu_patients                           10850 non-null   float64
 18  icu_patients_per_million               10850 non-null   float64
 19  hosp_patients                          13108 non-null   float64
 20  hosp_patients_per_million              13108 non-null   float64
 21  weekly_icu_admissions                  966 non-null     float64
 22  weekly_icu_admissions_per_million      966 non-null     float64
 23  weekly_hosp_admissions                 1720 non-null    float64
 24  weekly_hosp_admissions_per_million     1720 non-null    float64
 25  new_tests                              46778 non-null   float64
 26  total_tests                            46471 non-null   float64
 27  total_tests_per_thousand               46471 non-null   float64
 28  new_tests_per_thousand                 46778 non-null   float64
 29  new_tests_smoothed                     54597 non-null   float64
 30  new_tests_smoothed_per_thousand        54597 non-null   float64
 31  positive_rate                          50986 non-null   float64
 32  tests_per_case                         50367 non-null   float64
 33  tests_units                            56345 non-null   object
 34  total_vaccinations                     19295 non-null   float64
 35  people_vaccinated                      18482 non-null   float64
 36  people_fully_vaccinated                15559 non-null   float64
 37  new_vaccinations                       16070 non-null   float64
 38  new_vaccinations_smoothed              33720 non-null   float64
 39  total_vaccinations_per_hundred         19295 non-null   float64
 40  people_vaccinated_per_hundred          18482 non-null   float64
 41  people_fully_vaccinated_per_hundred    15559 non-null   float64
 42  new_vaccinations_smoothed_per_million  33720 non-null   float64
 43  stringency_index                       87648 non-null   float64
 44  population                             104310 non-null  float64
 45  population_density                     97475 non-null   float64
 46  median_age                             93570 non-null   float64
 47  aged_65_older                          92522 non-null   float64
 48  aged_70_older                          93054 non-null   float64
 49  gdp_per_capita                         93969 non-null   float64
 50  extreme_poverty                        63299 non-null   float64
 51  cardiovasc_death_rate                  93925 non-null   float64
 52  diabetes_prevalence                    96453 non-null   float64
 53  female_smokers                         73429 non-null   float64
 54  male_smokers                           72355 non-null   float64
 55  handwashing_facilities                 47178 non-null   float64
 56  hospital_beds_per_thousand             85513 non-null   float64
 57  life_expectancy                        99697 non-null   float64
 58  human_development_index                94045 non-null   float64
 59  excess_mortality                       3671 non-null    float64
dtypes: float64(55), object(5)
memory usage: 48.1+ MB

In [9]:
df['iso_code']

0         AFG
1         AFG
2         AFG
3         AFG
4         AFG
         ...
105005    ZWE
105006    ZWE
105007    ZWE
105008    ZWE
105009    ZWE
Name: iso_code, Length: 105010, dtype: object

In [10]:
df['iso_code'].value_counts()

PER    572
MEX    572
ARG    572
THA    569
TWN    557
      ...
TUV     50
NIU     16
PCN      7
TKM      1
BES      1
Name: iso_code, Length: 231, dtype: int64

In [11]:
df.loc[10]

iso_code                                         AFG
continent                                       Asia
location                                 Afghanistan
date                                      2020-03-05
total_cases                                        4
new_cases                                          0
new_cases_smoothed                             0.429
total_deaths                                     NaN
new_deaths                                       NaN
new_deaths_smoothed                                0
total_cases_per_million                        0.103
new_cases_per_million                              0
new_cases_smoothed_per_million                 0.011
total_deaths_per_million                         NaN
new_deaths_per_million                           NaN
new_deaths_smoothed_per_million                    0
reproduction_rate                                NaN
icu_patients                                     NaN
icu_patients_per_million                         NaN
hosp_patients                                    NaN
hosp_patients_per_million                        NaN
weekly_icu_admissions                            NaN
weekly_icu_admissions_per_million                NaN
weekly_hosp_admissions                           NaN
weekly_hosp_admissions_per_million               NaN
new_tests                                        NaN
total_tests                                      NaN
total_tests_per_thousand                         NaN
new_tests_per_thousand                           NaN
new_tests_smoothed                               NaN
new_tests_smoothed_per_thousand                  NaN
positive_rate                                    NaN
tests_per_case                                   NaN
tests_units                                      NaN
total_vaccinations                               NaN
people_vaccinated                                NaN
people_fully_vaccinated                          NaN
new_vaccinations                                 NaN
new_vaccinations_smoothed                        NaN
total_vaccinations_per_hundred                   NaN
people_vaccinated_per_hundred                    NaN
people_fully_vaccinated_per_hundred              NaN
new_vaccinations_smoothed_per_million            NaN
stringency_index                               27.78
population                               3.89283e+07
population_density                            54.422
median_age                                      18.6
aged_65_older                                  2.581
aged_70_older                                  1.337
gdp_per_capita                               1803.99
extreme_poverty                                  NaN
cardiovasc_death_rate                        597.029
diabetes_prevalence                             9.59
female_smokers                                   NaN
male_smokers                                     NaN
handwashing_facilities                        37.746
hospital_beds_per_thousand                       0.5
life_expectancy                                64.83
human_development_index                        0.511
excess_mortality                                 NaN
Name: 10, dtype: object

In [12]:
df.loc[[10,20]]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
10,AFG,Asia,Afghanistan,2020-03-05,4.0,0.0,0.429,NaN,NaN,0.0,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
20,AFG,Asia,Afghanistan,2020-03-15,16.0,1.0,1.571,NaN,NaN,0.0,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN

In [13]:
df.loc[10:20]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
10,AFG,Asia,Afghanistan,2020-03-05,4.0,0.0,0.429,NaN,NaN,0.0,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
11,AFG,Asia,Afghanistan,2020-03-06,4.0,0.0,0.429,NaN,NaN,0.0,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
12,AFG,Asia,Afghanistan,2020-03-07,4.0,0.0,0.429,NaN,NaN,0.0,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
13,AFG,Asia,Afghanistan,2020-03-08,5.0,1.0,0.571,NaN,NaN,0.0,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
14,AFG,Asia,Afghanistan,2020-03-09,7.0,2.0,0.857,NaN,NaN,0.0,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
15,AFG,Asia,Afghanistan,2020-03-10,8.0,1.0,0.857,NaN,NaN,0.0,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
16,AFG,Asia,Afghanistan,2020-03-11,11.0,3.0,1.000,NaN,NaN,0.0,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
17,AFG,Asia,Afghanistan,2020-03-12,12.0,1.0,1.143,NaN,NaN,0.0,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
18,AFG,Asia,Afghanistan,2020-03-13,13.0,1.0,1.286,NaN,NaN,0.0,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
19,AFG,Asia,Afghanistan,2020-03-14,15.0,2.0,1.571,NaN,NaN,0.0,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN
20,AFG,Asia,Afghanistan,2020-03-15,16.0,1.0,1.571,NaN,NaN,0.0,...,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN

In [14]:
df.loc[200:220, ['total_cases', 'total_deaths']]

     total_cases  total_deaths
200      38606.0        1421.0
201      38641.0        1421.0
202      38716.0        1421.0
203      38772.0        1427.0
204      38815.0        1428.0
205      38855.0        1438.0
206      38872.0        1438.0
207      38897.0        1439.0
208      38919.0        1439.0
209      39044.0        1443.0
210      39074.0        1446.0
211      39096.0        1447.0
212      39145.0        1448.0
213      39170.0        1453.0
214      39186.0        1453.0
215      39192.0        1455.0
216      39227.0        1455.0
217      39239.0        1458.0
218      39254.0        1460.0
219      39268.0        1460.0
220      39285.0        1460.0

In [15]:
df.loc[200:220, 'total_cases':'total_deaths']

     total_cases  new_cases  new_cases_smoothed  total_deaths
200      38606.0       34.0              43.143        1421.0
201      38641.0       35.0              45.286        1421.0
202      38716.0       75.0              45.429        1421.0
203      38772.0       56.0              39.714        1427.0
204      38815.0       43.0              42.143        1428.0
205      38855.0       40.0              44.429        1438.0
206      38872.0       17.0              42.857        1438.0
207      38897.0       25.0              41.571        1439.0
208      38919.0       22.0              39.714        1439.0
209      39044.0      125.0              46.857        1443.0
210      39074.0       30.0              43.143        1446.0
211      39096.0       22.0              40.143        1447.0
212      39145.0       49.0              41.429        1448.0
213      39170.0       25.0              42.571        1453.0
214      39186.0       16.0              41.286        1453.0
215      39192.0        6.0              39.000        1455.0
216      39227.0       35.0              26.143        1455.0
217      39239.0       12.0              23.571        1458.0
218      39254.0       15.0              22.571        1460.0
219      39268.0       14.0              17.571        1460.0
220      39285.0       17.0              16.429        1460.0

In [16]:
df.iloc[10,3]

'2020-03-05'

In [17]:
df.iloc[200:220, [4,7]]

     total_cases  total_deaths
200      38606.0        1421.0
201      38641.0        1421.0
202      38716.0        1421.0
203      38772.0        1427.0
204      38815.0        1428.0
205      38855.0        1438.0
206      38872.0        1438.0
207      38897.0        1439.0
208      38919.0        1439.0
209      39044.0        1443.0
210      39074.0        1446.0
211      39096.0        1447.0
212      39145.0        1448.0
213      39170.0        1453.0
214      39186.0        1453.0
215      39192.0        1455.0
216      39227.0        1455.0
217      39239.0        1458.0
218      39254.0        1460.0
219      39268.0        1460.0

In [18]:
df.iloc[200:220, 4:7]

     total_cases  new_cases  new_cases_smoothed
200      38606.0       34.0              43.143
201      38641.0       35.0              45.286
202      38716.0       75.0              45.429
203      38772.0       56.0              39.714
204      38815.0       43.0              42.143
205      38855.0       40.0              44.429
206      38872.0       17.0              42.857
207      38897.0       25.0              41.571
208      38919.0       22.0              39.714
209      39044.0      125.0              46.857
210      39074.0       30.0              43.143
211      39096.0       22.0              40.143
212      39145.0       49.0              41.429
213      39170.0       25.0              42.571
214      39186.0       16.0              41.286
215      39192.0        6.0              39.000
216      39227.0       35.0              26.143
217      39239.0       12.0              23.571
218      39254.0       15.0              22.571
219      39268.0       14.0              17.571